@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* ul,
* li {
  display: inline-block;
  list-style: none;
}
* button {
  display: inline-block;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}
* span {
  display: inline-block;
}
* a,
* a:visited {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
* a:focus,
* a:active {
  outline: none;
}
* img {
  display: block;
}
* *, * *::before, * *::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 37.5rem;
  height: 100%;
  font-family: "Roboto", sans-serif;
  margin-inline: auto;
}

.main-header {
  min-width: 37.5rem;
  height: 13rem;
  display: flex;
  background: rgb(255, 107, 26);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-logo {
  min-width: 29.5rem;
  height: 5.1rem;
  text-align: center;
  line-height: 3;
}
.header-logo h1 {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 100%;
  color: rgb(255, 255, 255);
}
.header-logo::before {
  display: inline-block;
  content: "";
  width: 2.4rem;
  height: 2rem;
  background-image: url(./../assets/logo.svg);
  background-size: 100%;
  margin-right: 1rem;
}
.header-logo p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.9);
}

.page-navigation {
  min-width: 37.5rem;
  height: 7.1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(26, 26, 26);
}

.burger-menu {
  display: flex;
  padding: 1rem;
  gap: 0.8rem;
  cursor: pointer;
  border-radius: 0.8rem;
  transition: 0.3s ease;
}
.burger-menu:hover {
  background-color: rgb(255, 107, 26);
}
.burger-menu button {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
}
.burger-menu button span {
  width: 2.4rem;
  height: 0.2rem;
  gap: 0.2rem;
  background: rgb(241, 232, 232);
}
.burger-menu span {
  font-size: 1.9rem;
  font-weight: 500;
  line-height: 100%;
  color: rgb(255, 255, 255);
}

.nav-bar {
  display: flex;
}
.nav-bar li {
  border-radius: 0.8rem;
  margin-right: 3rem;
}
.nav-bar li a {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 100%;
  color: rgb(255, 255, 255);
  width: 10.3rem;
  height: 3.7rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
  text-align: center;
  color: rgb(255, 255, 255);
}
.nav-bar li:hover {
  background-color: rgb(255, 107, 26);
}
.nav-bar {
  display: none;
}

.welcome-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 37.5rem;
  height: 37.7rem;
  background-color: rgba(42, 42, 42, 0.9);
  position: relative;
  margin-bottom: 3rem;
}
.welcome-banner img {
  width: 15.5rem;
  height: 15.6rem;
  opacity: 0.2;
  z-index: 1;
}

.banner {
  width: 32.6rem;
  height: 10.4rem;
  position: absolute;
  text-align: center;
  z-index: 2;
}
.banner h1 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 100%;
  color: rgb(255, 255, 255);
  margin-bottom: 2rem;
}
.banner p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 0.1rem;
}

.container-cards {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15rem;
  gap: 1rem;
}

.card {
  padding: 2rem;
  width: 32.4rem;
  height: 20rem;
  background-color: rgb(245, 245, 245);
  border-top: 0.4rem solid rgb(255, 107, 26);
  border-radius: 1.2rem;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.2);
}
.card p {
  width: 25.5rem;
  height: 11.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 100%;
  color: rgb(102, 102, 102);
}
.card:hover {
  transform: translateY(-0.8rem);
  transition: 0.3s ease;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
}

.card-content {
  display: flex;
  margin-bottom: 1rem;
}
.card-content img {
  width: 2.4rem;
  height: auto;
}
.card-content h4 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 100%;
  color: rgb(0, 0, 0);
  margin-left: 0.5rem;
}

.cards-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 37.5rem;
  height: 9rem;
  background-color: rgb(26, 26, 26);
}

.parent-paragraph {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 100%;
  color: rgb(255, 255, 255);
  text-align: center;
  display: none;
}

.secondary-paragraph {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 100%;
  color: rgb(255, 255, 255);
  text-align: center;
}

@media (min-width: 768px) {
  .main-header {
    min-width: 100%;
    height: 15rem;
  }
  .page-navigation {
    min-width: 100%;
    height: 7.1rem;
  }
  .welcome-banner {
    min-width: 100%;
    height: 37.7rem;
  }
  .container-cards {
    width: 90%;
    margin-bottom: 15rem;
    gap: 3rem;
  }
  .cards-footer {
    min-width: 100%;
    height: 9rem;
    background-color: rgb(26, 26, 26);
  }
}
@media (min-width: 1020px) {
  .main-header {
    min-width: 100%;
    height: 20rem;
  }
  .header-logo {
    min-width: 70rem;
    height: 10rem;
  }
  .header-logo h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 100%;
    color: rgb(255, 255, 255);
  }
  .header-logo::before {
    display: inline-block;
    content: "";
    width: 5.78rem;
    height: 4.8rem;
    background-image: url(./../assets/logo.svg);
  }
  .header-logo p {
    width: 40em;
    padding-left: 5rem;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 100%;
    color: rgba(255, 255, 255, 0.9);
  }
  .page-navigation {
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .page-navigation .burger-menu {
    display: none;
  }
  .page-navigation .nav-bar {
    display: block;
  }
  .page-navigation .nav-bar li {
    width: 8rem;
  }
  .page-navigation .nav-bar li a {
    border-radius: 0.8rem;
  }
  .page-navigation .nav-bar li a:hover {
    cursor: pointer;
    background-color: rgb(255, 107, 26);
  }
  .welcome-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 37.7rem;
    background-color: rgba(42, 42, 42, 0.9);
    position: relative;
  }
  .welcome-banner img {
    width: 30.5rem;
    height: 30.6rem;
  }
  .welcome-banner .banner {
    width: 100%;
    height: 8.8rem;
  }
  .welcome-banner .banner h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 100%;
    color: rgb(255, 255, 255);
    margin-bottom: 2rem;
  }
  .welcome-banner .banner p {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 100%;
    color: rgba(255, 255, 255, 0.9);
    letter-spacing: 0%;
  }
  .container-cards {
    width: 65%;
    height: auto;
    margin: 0 auto;
    gap: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .cards-footer {
    max-width: 100%;
    height: 9rem;
    background-color: rgb(26, 26, 26);
    margin-top: 15rem;
  }
  .cards-footer .parent-paragraph {
    display: block;
    width: 62rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 100%;
    color: rgb(255, 255, 255);
  }
  .cards-footer .secondary-paragraph {
    display: none;
  }
}