
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

 

  ul,
  li {
    display: inline-block;
    list-style: none;
  }

  button {
    display: inline-block;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
  }
   span {
    display: inline-block;
   }
  a,
  a:visited {
    display: inline-block;
    text-decoration: none;
    color: inherit;
  }

  a:focus,
  a:active {
    outline: none;
  }

  img {
    display: block;
  }
*, *::before, *::after {
    box-sizing: border-box;
}
 
}

html {
  font-size: 62.5%;
}