


$bg-header-color: rgba(255, 107, 26, 1);
$header-line-color: rgba(26, 26, 26, 1);
$bg-page-color:  rgba(245, 245, 245, 1);
$rectangle-color: rgba(42, 42, 42, 0.9);
$main-header-text-color: rgba(255, 255, 255, 1);
$main-header-secondary-color: rgba(255, 255, 255, 0.9);
$fsize-header-title: 4rem;
$fsize-header-secondary: 1.8rem;
$f-weight-header-title:700;
$f-weight-secondary-title:500;
$card-header-title: rgba(0, 0, 0, 1);
$card-header-secondary: rgba(102, 102, 102, 1);

$logo-url: url(./../assets/logo.svg);
$logo-size: 2.4rem;