@use "./reset";
@use "./variables" as v;
@use "./mixins" as m;


body {

    min-width: 37.5rem;
    height: 100%;
    font-family: "Roboto", sans-serif;
    margin-inline: auto;
}

.main-header {
    min-width: 37.5rem;
    height: 13rem;
    display: flex;
    background: v.$bg-header-color;
    @include m.flex-base;
}


.header-logo {
    min-width: 29.5rem;
    height: 5.1rem;
    text-align: center;
    line-height: 3;

    h1 {
        display: inline-block;
        @include m.font-style($size: 2.4rem, $weight: 700, $line: 100%, $color: v.$main-header-text-color);
    }

    &::before {
        display: inline-block;
        content: "";
        width: v.$logo-size;
        height: 2rem;
        background-image: v.$logo-url;
        background-size: 100%;
        margin-right: 1rem;
    }

    p {
        @include m.font-style($size: 1.4rem, $weight: 500, $line: 150%, $color: v.$main-header-secondary-color);
    }
}

.page-navigation {
    min-width: 37.5rem;
    height: 7.1rem;
    @include m.flex-base($justify: space-between, $align: center);
    background-color: v.$header-line-color;
}

.burger-menu {
    display: flex;
    padding: 1rem;
    gap: 0.8rem;
    cursor: pointer;
    border-radius: 0.8rem;
    transition: 0.3s ease;

    &:hover {
        background-color: v.$bg-header-color;
    }

    & button {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        gap: 0.5rem;

        & span {
            width: 2.4rem;
            height: 0.2rem;
            gap: 0.2rem;
            background: rgb(241, 232, 232);
        }
    }

    & span {
        @include m.font-style($size: 1.9rem, $weight: 500, $line: 100%, $color: v.$main-header-text-color);
    }
}

.nav-bar {
    display: flex;

    li {
        border-radius: 0.8rem;
        margin-right: 3rem;

        a {
            @include m.font-style($size: 1.7rem, $weight: 500, $line: 100%, $color: v.$main-header-text-color);
            @include m.btn-style;
            color: v.$main-header-text-color;
        }

        &:hover {
            background-color: v.$bg-header-color;
        }
    }

    display: none;
}

// ==========Section banner=========

.welcome-banner {
    @include m.flex-base;
    min-width: 37.5rem;
    height: 37.7rem;
    background-color: v.$rectangle-color;
    position: relative;
    margin-bottom: 3rem;

    img {
        width: 15.5rem;
        height: 15.6rem;
        opacity: 0.2;
        z-index: 1;
    }
}

.banner {
    width: 32.6rem;
    height: 10.4rem;
    position: absolute;
    text-align: center;
    z-index: 2;

    h1 {
        @include m.font-style($size: 2.4rem, $weight: 700, $line: 100%, $color: v.$main-header-text-color);
        margin-bottom: 2rem;
    }

    p {
        @include m.font-style($size: 1.4rem, $weight: 500, $line: 150%, $color: v.$main-header-secondary-color);
        letter-spacing: 0.1rem;
    }

}

// =========Section cards===========

.container-cards {
    margin-top: 2.5rem;
    @include m.flex-base($justify: center, $align: center, $direction: column);
    margin-bottom: 15rem;
    gap: 1rem;
}

.card {
    padding: 2rem;
    @include m.card-style($max-width: 32.4rem, $height: 20rem);

    p {
        width: 25.5rem;
        height: 11.4rem;
        @include m.font-style($size: 1.6rem, $weight: 400, $line: 100%, $color: v.$card-header-secondary);
    }

    &:hover {
        transform: translateY(-0.8rem);
        transition: 0.3s ease;
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
        ;
    }
}

.card-content {
    display: flex;
    margin-bottom: 1rem;

    img {
        width: 2.4rem;
        height: auto;
    }

    h4 {
        @include m.font-style($size: 2.4rem, $weight: 700, $line: 100%, $color: v.$card-header-title);
        margin-left: 0.5rem;
    }
}

// ====================Footer============

.cards-footer {
    @include m.flex-base($justify: center, $align: center);
    min-width: 37.5rem;
    height: 9rem;
    background-color: v.$header-line-color;
}

.parent-paragraph {
    @include m.font-style($size: 1.2rem, $weight: 500, $line: 100%, $color: v.$main-header-text-color);
    text-align: center;
    display: none;
}

.secondary-paragraph {
    @include m.font-style($size: 1.2rem, $weight: 500, $line: 100%, $color: v.$main-header-text-color);
    text-align: center;
}

// ==========@media===========

@media (min-width: 768px) {
    .main-header {
        min-width: 100%;
        height: 15rem;
    }

    .page-navigation {
        min-width: 100%;
        height: 7.1rem;
    }

    .welcome-banner {
        min-width: 100%;
        height: 37.7rem;
    }

    .container-cards {
        width: 90%;
        margin-bottom: 15rem;
        gap: 3rem;
    }

    .cards-footer {
        min-width: 100%;
        height: 9rem;
        background-color: v.$header-line-color;
    }
}


@media (min-width: 1020px) {

    .main-header {
        min-width: 100%;
        height: 20rem;
    }

    .header-logo {
        min-width: 70rem;
        height: 10rem;

        h1 {
            @include m.font-style($size: 4rem, $weight: 700, $line: 100%, $color: v.$main-header-text-color);
        }

        &::before {
            display: inline-block;
            content: "";
            width: 5.78rem;
            height: 4.8rem;
            background-image: v.$logo-url;
        }

        p {
            width: 40em;
            padding-left: 5rem;
            @include m.font-style($size: 1.8rem, $weight: 500, $line: 100%, $color: v.$main-header-secondary-color);
        }
    }


    .page-navigation {
        width: 100%;
        height: 6rem;
        @include m.flex-base($justify: center);

        .burger-menu {
            display: none;
        }

        .nav-bar {
            display: block;

            li {
                width: 8rem;

                a {
                    border-radius: 0.8rem;

                    &:hover {
                        cursor: pointer;
                        background-color: v.$bg-header-color;
                    }
                }
            }
        }
    }

    .welcome-banner {
        @include m.flex-base;
        width: 100%;
        height: 37.7rem;
        background-color: v.$rectangle-color;
        position: relative;

        img {
            width: 30.5rem;
            height: 30.6rem;
        }

        .banner {
            width: 100%;
            height: 8.8rem;

            h1 {
                @include m.font-style($size: 4rem, $weight: 700, $line: 100%, $color: v.$main-header-text-color);
                margin-bottom: 2rem;
            }

            p {

                @include m.font-style($size: 1.8rem, $weight: 500, $line: 100%, $color: v.$main-header-secondary-color);
                letter-spacing: 0%;
            }
        }
    }

    .container-cards {
        width: 65%;
        height: auto;
        margin: 0 auto;
        gap: 3rem;
        @include m.flex-wrap($flex-direction: row, $flex-wrap: wrap);
    }



    .cards-footer {
        max-width: 100%;
        height: 9rem;
        background-color: v.$header-line-color;
        margin-top: 15rem;

        .parent-paragraph {
            display: block;
            width: 62rem;
            @include m.font-style($size: 1.6rem, $weight: 500, $line: 100%, $color: v.$main-header-text-color);
        }

        .secondary-paragraph {
            display: none;
        }
    }

}